@layer components {
    .card-style {
        @apply bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-3 text-gray-700 dark:text-gray-300;
    }
    .card {
        @apply flex flex-col bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
    }
    .card-header {
        @apply flex-none px-3 py-1.5 bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-white border-b border-gray-200 dark:border-gray-700 rounded-t-lg;
    }

    .card-title {
        @apply mb-0;
    }

    .card-body {
        @apply grow p-2 text-gray-700 dark:text-gray-300;
    }

    .card-footer {
        @apply flex-none px-3 py-1.5 bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-white border-t border-gray-200 dark:border-gray-700 rounded-b-lg;
    }
    .overview-card {
        @apply card card-body border-s-6 border-s-primary;
        .overview-title {
            @apply text-xs font-bold text-primary uppercase mb-1;
        }
        .overview-number {
            @apply text-2xl mb-0 font-bold;
        }
        .overview-icon {
            @apply text-primary w-10 h-10;
        }
        &.overview-card-primary {
            @apply border-s-primary-500;
            .overview-title {
                @apply text-primary-500;
            }
            .overview-icon {
                @apply text-primary-500;
            }
        }
        &.overview-card-secondary {
            @apply border-s-secondary-500;
            .overview-title {
                @apply text-secondary-500;
            }
            .overview-icon {
                @apply text-secondary-500;
            }
        }
        &.overview-card-light {
            @apply border-s-light-500;
            .overview-title {
                @apply text-light-500;
            }
            .overview-icon {
                @apply text-light-500;
            }
        }
        &.overview-card-dark {
            @apply border-s-dark-500;
            .overview-title {
                @apply text-dark-500;
            }
            .overview-icon {
                @apply text-dark-500;
            }
        }
        &.overview-card-blue {
            @apply border-s-blue-500;
            .overview-title {
                @apply text-blue-500;
            }
            .overview-icon {
                @apply text-blue-500;
            }
        }
        &.overview-card-green {
            @apply border-s-green-500;
            .overview-title {
                @apply text-green-500;
            }
            .overview-icon {
                @apply text-green-500;
            }
        }
        &.overview-card-red {
            @apply border-s-red-500;
            .overview-title {
                @apply text-red-500;
            }
            .overview-icon {
                @apply text-red-500;
            }
        }
        &.overview-card-orange {
            @apply border-s-orange-500;
            .overview-title {
                @apply text-orange-500;
            }
            .overview-icon {
                @apply text-orange-500;
            }
        }
        &.overview-card-yellow {
            @apply border-s-yellow-500;
            .overview-title {
                @apply text-yellow-500;
            }
            .overview-icon {
                @apply text-yellow-500;
            }
        }
        &.overview-card-purple {
            @apply border-s-purple-500;
            .overview-title {
                @apply text-purple-500;
            }
            .overview-icon {
                @apply text-purple-500;
            }
        }
        &.overview-card-violet {
            @apply border-s-violet-500;
            .overview-title {
                @apply text-violet-500;
            }
            .overview-icon {
                @apply text-violet-500;
            }
        }
        &.overview-card-cyan {
            @apply border-s-cyan-500;
            .overview-title {
                @apply text-cyan-500;
            }
            .overview-icon {
                @apply text-cyan-500;
            }
        }
    }
}
.corner-badge {
    transform: rotate(-45deg);
    position: absolute;
    top: 24px;
    left: -18px;
    transform-origin: 45px 45px;
    display: block;
    width: 150px;
    min-height: 25px;
    line-height: 1.3;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    z-index: 3;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
