@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: 'Rotger';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/TSRotger-Regular.otf') format('truetype');
    font-display: swap;
    unicode-range: U+0600-06FF;
}
